<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Yaoyao Liu's Homepage</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Yaoyao Liu is a Ph.D. student at Max Planck Institute for Informatics. His research lies in meta-learning, incremental learning, and image generation.">
    <meta name="keywords" content="yaoyao liu, liu yaoyao, yaoyaoliu, liuyaoyao">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Yaoyao Liu's Homepage">
    <meta property="og:url" content="https://www.mpi-inf.mpg.de/~yaliu/">
    <meta property="og:site_name" content="Yaoyao Liu's Homepage">
    <meta property="og:description" content="Yaoyao Liu is a Ph.D. student at Max Planck Institute for Informatics. His research lies in meta-learning, incremental learning, and image generation.">
    <meta property="og:locale" content="default">
    <meta property="og:image" content="./my_images/avatar.jpg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Yaoyao Liu's Homepage">
    <meta name="twitter:description" content="Yaoyao Liu is a Ph.D. student at Max Planck Institute for Informatics. His research lies in meta-learning, incremental learning, and image generation.">
    <meta name="twitter:image" content="./my_images/avatar.jpg">

    <link rel="canonical" href="https://mpii.mpg.de/~yaliu/"/>

    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

    <link rel="stylesheet" href="./assets/academicons/css/academicons.min.css"/>
    <link rel="stylesheet" href="./assets/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="./assets/fontawesome/css/brands.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css">

    <link rel="stylesheet" type="text/css" media="screen" href="./assets/mpii_files/mpi-inf.css">
    <!--<link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">-->
    <script src="./assets/js/github-stars.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.js"></script>

  </head>
  <body>
    <lightonly>
    <div id="head1o2">
      <div id="mpiidotspacer"></div><div id="mpiidot"></div></div>
    <div id="head2o2">
      <div id="deco"></div>
      <div id="mpiitext" >max planck institut<br>
        informatik</div>
      <img id="mpiilogo" src="./assets/mpii_files/mpii.jpg" alt="mpii" usemap="#Map" width="150" height="50">
      <map name="Map" id="Map">
        <area shape="rect" coords="48.5,7,148,35" href="https://www.mpi-inf.mpg.de/" target="_blank" rel="noopener" alt="MPII">
        <area shape="circle" coords="20.5,24.5,20" href="https://www.mpg.de/" target="_blank" rel="noopener" alt="Max Planck Society">
      </map>
    </div>
    </lightonly>

    <div class="wrapper">
      <header>
        
        {% if site.avatar %}
        <a class="image avatar"><img src="{{site.avatar}}" alt="avatar" onContextMenu="return false" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <position style="font-size:1.10rem;">{{ site.position }}</position>
        <br>
        {% endif %}
        <a href="https://www.mpi-inf.mpg.de/" rel="noopener"><autocolor>Max Planck Institute for Informatics</autocolor></a>
        <br>
        <email>yaoyao.liu (at) mpi-inf.mpg.de</email>

        <br>
        <br>

      </header>
      <section>

      {{ content }}

      <br>

     <!--
     <small>Last Update:
            <script>
              const monthNames = ["January", "Februray", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"
              ];
              var modiDate = new Date(document.lastModified);
              var showAs = modiDate.getDate() + ". " + monthNames[modiDate.getMonth()] + " " + modiDate.getFullYear();
              document.write(showAs);
            </script>.
      </small> 
      -->
        
      <small>Feel free to use my website's <a href="https://github.com/yaoyao-liu/minimal-light" rel="noopener">source code</a>.<br>Copyright &copy 2020-2021 Max Planck Institute for Informatics | <a href="https://imprint.mpi-klsb.mpg.de/inf/people.mpi-inf.mpg.de/yaliu" rel="noopener"><autocolor>Imprint / Impressum</autocolor></a> | <a href="https://data-protection.mpi-klsb.mpg.de/inf/people.mpi-inf.mpg.de/yaliu?lang=en" rel="noopener"><autocolor>Data Protection / Datenschutzhinweis</autocolor></a>
      <br> Additional Data Protection (GDPR) Information: this website uses the GitHub APIs. <a href="https://docs.github.com/en/github/site-policy/global-privacy-practices" rel="noopener"><autocolor>The Github Global Privacy Practices are available here</autocolor></a>.
      </small>
   
      </section>
      <footer>
        <div class="social-icons">
          <a style="margin: 0 5px 0 0" href="https://scholar.google.com/citations?user=Uf9GqRsAAAAJ">
            <i class="ai ai-google-scholar" style="font-size:1.3rem"></i>
          </a>         
                      
          <a style="margin: 0 5px 0 0" href="https://github.com/yaoyao-liu/">
            <i class="fab fa-github"></i>
          </a>

          <a style="margin: 0 5px 0 0" href="https://twitter.com/YaoyaoLiu1/">
            <i class="fab fa-twitter"></i>
          </a>

          <a style="margin: 0 5px 0 0" href="https://www.linkedin.com/in/liuyaoyao/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          
          <a style="margin: 0 0 0 0" href="https://my-pdf-files.yyliu.net/Yaoyao_Liu_Resume.pdf">
            <i class="ai ai-cv" style="font-size:1.3rem"></i>
          </a>
          
        </div>
  
        </p>
        <br>
        <br>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
